.new{
  margin:0 auto;
  width: 300px;
  font-size: 25px;
}

.page-heading{
  margin:0 auto;
  width: 300px;
  font-size: 30px;
  color: blue;
}

.registration{
  width: 300px;
  margin: 0 auto;
}

.birth_date{
  width: 80px;
}

.custom-date-select select {
  width: 30px; /* 必要に応じて幅を調整 */
  padding: 5px;
  margin-right: 5px;
  display: inline-block;
}