.new{
  margin:0 auto;
  width: 300px;
  font-size: 25px;
}

.page-heading{
  margin:0 auto;
  width: 300px;
  font-size: 30px;
  color: blue;
}

.registration{
  width: 300px;
  margin: 0 auto;
}

.birth_date{
  width: 80px;
}

