.show_title{
  font-size: 30px;
  font-weight: bold;
}

.detail{
  margin:0 auto;
 
}

.detail-list{
  font-size: 25px;
  margin:0 auto;
  background-color: bisque;
  width: 500px;
}

.detail-lists{
  font-size: 25px;
 text-align: center;
 background-color: bisque;
 width: 300px;
 margin: 0 auto;
}



.participate{
  margin: 0 auto;
  width: 200px;
  font-size: 20px;
  
}

.participate__btn{
  height: 80px;
  width: 200px;
  background-color: red;
  color: white;
  
} 

.return{
  height: 80px;
  width: 200px;
  font-size: 20px;
  border: 2px solid;
  background-color: green;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

.return__btn{
  height: 80px;
  width:200px;
  color: white;

}

.show_btn{
  display: flex;
 width: 400px;
 margin: 0 auto;
}

.container{
  margin:0 auto;
  width: 300px;
  font-size: 25px;
}

.edit h3{
  font-weight: bold;
  color: blue;
}

.edit_btn{
  display: flex; 
  text-align: center;
}

.stage-destroy{
  width: 50px;
 background-color: gray;
 color: white;
 padding: 5px;
}

.actions{
 margin-left: 150px;
}

.form__btn{
  background-color: blue;
  color: white;
  height: 50px;
}

.applies-list{
  background-color: #ddffff;
  color:navy;
  width: 200px;
  margin: 0 auto;
  font-size: 30px;
}

.apply_list{
  width: 100px;
  font-size: 20px;
  color:red;
}

.charge_name{
width: 300px;
margin: 0 auto;
text-align: center;
font-size: 20px;
margin-bottom: 15px;
color: darkblue;
}

.participate-message{
  width: 1000px;
  margin: 0 auto;
  font-size: 30px;
}