<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規入場者募集</h2>
      
        <%# 部分テンプレートでフォームを表示する %>
        <%= render partial: "form", locals: { stage: @stage } %>
    </div>
  </div>
</div>