/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */


.grid-6 a{
  color:navy;
  font-size: 50px;
  justify-content: center;
}
.header {
  background-color: #f1f8fe;
  margin-bottom: 48px;
  padding: 20px 0;
  text-align: center;
}

.copyright{
  margin: 0 auto;
  width: 250px;
  color: red;
}

.room__btn{
  font-size: 40px;
  margin: 0 auto;
  color: white;
  background-color: navy;
 
}

.profile{
  font-size: 35px;
 text-align: center;
  color: navy;
}

.comments{
  font-size: 23px;
  width: 260px;
  margin: 0 auto;
}

.approval-message{
  font-size: 25px;
  color: red;
}

.container{
  font-size: 20px;
}
.bill__btn{
  width: 100px;
  margin: 0 auto;
}

.pay__btn{
  width: 100px;
  margin: 0 auto;
 background-color: orange;
 font-size: 30px;
 padding: 5px;
}

.pay{
  font-size: 23px;
  width: 300px;
  color: navy;
  margin: 0 auto;
}

.arrow{
  width: 200px;
  margin: 0 auto;
}

#user_maney {
  width: 100px;  /* 任意の幅に調整してください */
}

#number-form{
  width: 300px;
  margin: 0 auto;
}

#expiry-form{
  width: 100px;
  margin: 0 auto;
}

#cvc-form{
  width: 100px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.form-group{
 text-align: center;
  width: 500px;
}

