
.user_stage{
  font-size: 25px;
  width: 450px;
  margin: 0 auto;
  color: red;
}

.user_stages{
  width: 100vw;
  margin: 0 auto;
  background-color: bisque;
}

.stage_user{
  background-color: #ccffff;
  color: red;
}